<!DOCTYPE html>
<html>
    <head>
        <title> Thống kê văn bản</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://zjs.zdn.vn/zalo/Zalo.Extensions.min.js" type="text/javascript"></script>
    </head>

    <body>
        <div style="background: #d01e1e;
        border-bottom: 4px solid #ffffff;
        height: 41px;
        padding-left: 0;
        text-align: center;
        font-family: 'Roboto', san-serif !important;">
            <span style="color: #ffffff;
            font: bold 10pt/29px arial;
            text-transform: uppercase;
            padding-left: 0;
            background: #d01e1e;
            text-align: center;">THÔNG TIN VĂN BẢN</span>
        </div>
        <a href="/ioffice/document" target="_blank"
        class="container-fluid text-center mt-1 mb-3" 
        style="color:black; text-decoration: none;">
            
            <h5 >Đến tháng <span style="color:#4099ff;">{{update_date}}</span>
                <br/>Thành phố Đồng Xoài đã trao đổi 
            </h5>
            <h4 style="color:#FF5370;">{{documents}}</h4>
            <h5>văn bản qua mạng giữa 
                <span style="color:#4099ff;">{{units}}</span> đơn vị <br/>
                <i style="font-size: 12px;">(Tự động cập nhật ngày {{write_date}})</i>
            </h5>
        </a>
    </body>    
</html>